<%
  form_url = entries_path
  form_url = entry_path unless entry.id.nil?
  field_value = entry.value.to_s
  field_value = '+' + field_value if (!field_value.starts_with?("-") && field_value != '')
%>
<%= form_with(model: entry, local: true, url: form_url, html: { class: "uk-form-stacked"}) do |form| %>

  <%= form.hidden_field :account_id, value: account.id.to_s %>

  <div class="uk-margin">
    <div class="uk-form-controls">
      <%= form.text_field :effective_date, id: "entryDatePicker"%>
    </div>
  </div>

  <div class="uk-margin">
    <%= form.label :category_id, class: "uk-form-label" %>
    <div class="uk-form-controls">
      <select class="uk-select" name="entry[category_id]" id="entry_category_id">
        <%= options_from_collection_for_select(current_user.categories, :id, :name, entry.category_id || @last_used_category) %>
      </select>
    </div>
  </div>

  <div class="uk-margin">
    <%= form.label :comment, class: "uk-form-label" %>
    <div class="uk-form-controls">
      <%= form.text_field :comment, class: "uk-input" %>
    </div>
  </div>

  <div class="uk-margin">
    <%= form.label :check_number, class: "uk-form-label" %>
    <div class="uk-form-controls">
      <%= form.text_field :check_number, class: "uk-input uk-form-width-small" %>
    </div>
  </div>

  <div class="uk-margin">
    <%= form.label :value, class: "uk-form-label" %>
    <div class="uk-form-controls">
      <%= form.text_field :value, :value => field_value, class: "uk-input uk-form-width-small", autofocus: true %> €
    </div>
  </div>

  <div class="uk-margin">
    <label class="uk-form-label"><%= form.check_box :checked, class: "uk-checkbox" %> Vérifié</label>
  </div>

  <div class="actions">
    <% if entry.id.nil? %>
    <%= form.submit 'Ajouter', class: "uk-button uk-button-default" %>
    <% else %>
    <a href="<%= url_for account %>" class="uk-button uk-button-text">Annuler</a> <%= form.submit 'Enregistrer', class: "uk-button uk-button-default" %>
    <hr />
    <%= link_to 'Supprimer', entry, method: :delete, class: "uk-button uk-button-text" , data: { confirm: 'Are you sure?' } %>
    <% end %>
  </div>
<% end %>
