<%= form_with(model: recurrent_entry, local: true, html: { class: "uk-form-stacked"}) do |form| %>
  <div class="uk-margin">
    <%= form.label :active, class: "uk-form-label" %>
    <%= form.check_box :active, class: "uk-checkbox" %>
  </div>

  <div class="uk-margin">
    <%= form.label :account_id, class: "uk-form-label" %>
    <select class="uk-select" name="recurrent_entry[account_id]" id="recurrent_entry_account_id">
      <%= options_from_collection_for_select(current_user.accounts, :id, :name, recurrent_entry.account_id) %>
    </select>
  </div>

  <div class="uk-margin">
    <%= form.label :category_id, class: "uk-form-label" %>
    <select class="uk-select" name="recurrent_entry[category_id]" id="recurrent_entry_category_id">
      <%= options_from_collection_for_select(current_user.categories, :id, :name, recurrent_entry.category_id) %>
    </select>
  </div>

  <div class="uk-margin">
    <%= form.label :checked, class: "uk-form-label" %>
    <%= form.check_box :checked, class: "uk-checkbox" %>
  </div>

  <div class="uk-margin">
    <%= form.label :comment, class: "uk-form-label" %>
    <%= form.text_field :comment, class: "uk-input" %>
  </div>

  <div class="uk-margin">
    <%= form.label :value, class: "uk-form-label" %>
    <%= form.text_field :value, class: "uk-input" %>
  </div>

  <div class="uk-margin">
    <%= form.label :frequency, class: "uk-form-label" %>
    <%= form.text_field :frequency, class: "uk-input" %>
  </div>

  <div class="uk-margin">
    <%= form.label :start_date, class: "uk-form-label" %>
    <%= form.date_select :start_date %>
  </div>

  <div class="uk-margin">
    <%= form.label :end_date, class: "uk-form-label" %>
    <%= form.date_select :end_date %>
  </div>

  <div class="actions">
    <%= form.submit "Enregistrer", class: "uk-button uk-button-primary"%>
  </div>
<% end %>
