<div class="mo-secondary">
  <h1 class="uk-h1">Factures périodiques</h1>
  <%= link_to 'Ajouter une facture périodique', new_recurrent_entry_path, class: "uk-button uk-button-primary" %>

  <table class="uk-table uk-table-small uk-table-striped uk-table-hover">
    <thead>
      <tr>
        <th>Compte</th>
        <th>Catégorie</th>
        <th>Montant</th>
        <th>Fréquence</th>
        <th>Du</th>
        <th>Au</th>
        <th colspan="2"></th>
      </tr>
    </thead>

    <tbody>
      <% @recurrent_entries.each do |recurrent_entry| %>
        <tr>
          <td><%= recurrent_entry.account.name %></td>
          <td><%= recurrent_entry.category.name %> <span class="uk-label"><%= "Inactif" if !recurrent_entry.active? %></span></td>
          <td><%= formatValue(recurrent_entry.value) %></td>
          <td><%= recurrent_entry.frequency %></td>
          <td><%= recurrent_entry.start_date %></td>
          <td><%= recurrent_entry.end_date %></td>
          <td><%= link_to 'Edit', edit_recurrent_entry_path(recurrent_entry), class: "uk-button uk-button-text" %></td>
          <td><%= link_to 'Destroy', recurrent_entry, method: :delete, class: "uk-button uk-button-text", data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

</div>
