<p id="notice"><%= notice %></p>

<p>
  <strong>Active:</strong>
  <%= @recurrent_entry.active %>
</p>

<p>
  <strong>User:</strong>
  <%= @recurrent_entry.user_id %>
</p>

<p>
  <strong>Account:</strong>
  <%= @recurrent_entry.account_id %>
</p>

<p>
  <strong>Category:</strong>
  <%= @recurrent_entry.category_id %>
</p>

<p>
  <strong>Checked:</strong>
  <%= @recurrent_entry.checked %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @recurrent_entry.comment %>
</p>

<p>
  <strong>Value:</strong>
  <%= @recurrent_entry.value %>
</p>

<p>
  <strong>Frequency:</strong>
  <%= @recurrent_entry.frequency %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @recurrent_entry.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @recurrent_entry.end_date %>
</p>

<%= link_to 'Edit', edit_recurrent_entry_path(@recurrent_entry) %> |
<%= link_to 'Back', recurrent_entries_path %>
