<div class="mo-current-entries uk-overflow-auto uk-position-top" >
  <% account.entries_up_to_today(@number_of_entries).each do |entry| %>
  <a href="<%= edit_entry_path(entry) %>" class="uk-flex uk-flex-row <%= cycle("om-odd", "om-even") %> <%= 'om-selected' unless (!selected_entry || selected_entry != entry) %>">
    <div class="uk-flex-column mo-checked"><span class="mo-checked-entry <%= entry.checked ? "checked" : "" %>"></span></div>
    <div class="uk-flex-column mo-effective-date"><%= entry.effective_date %></div>
    <div class="uk-flex-column mo-category"><%= entry.category.name %></div>
    <div class="uk-flex-column mo-comment"><%= entry.comment %></div>
    <div class="uk-flex-column mo-check-number" ><span class="uk-label"><%= entry.check_number %></span></div>
    <div class="uk-flex-column mo-label"><span class="uk-label"><%= "Auto" if entry.recurrent_entry_id? %></span></div>
    <div class="uk-flex-column mo-value uk-text-right"><%= formatValue(entry.value) %></div>
  </a>
  <% end %>
</div>
<div class="mo-upcoming-entries-header">
  <div class="mo-solde-futur">Solde futur : <%= formatValue(account.absoluteBanlance) %></div>
</div>
<div class="mo-upcoming-entries uk-height-medium uk-position-bottom uk-overflow-auto">
  <% account.entries_after_today.each do |entry| %>
  <a href="<%= edit_entry_path(entry) %>" class="uk-flex uk-flex-row <%= cycle("om-odd", "om-even") %> <%= 'om-selected' unless (!selected_entry || selected_entry != entry) %>">
    <div class="uk-flex-column mo-checked"><span class="mo-checked-entry <%= entry.checked ? "checked" : "" %>"></span></div>
    <div class="uk-flex-column mo-effective-date"><%= entry.effective_date %></div>
    <div class="uk-flex-column mo-category"><%= entry.category.name %></div>
    <div class="uk-flex-column mo-comment"><%= entry.comment %></div>
    <div class="uk-flex-column mo-check-number" ><span class="uk-label"><%= entry.check_number %></span></div>
    <div class="uk-flex-column mo-label"><span class="uk-label"><%= "Auto" if entry.recurrent_entry_id? %></span></div>
    <div class="uk-flex-column mo-value uk-text-right"><%= formatValue(entry.value) %></div>
  </a>
  <% end %>
</div>
